# Dependencies
node_modules
.pnp*

# Build
.next
out
/dist
/.turbo
**/.turbo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Env
.env*
!.env.example

# OS
.DS_Store
Thumbs.db

# Supabase
supabase/.temp
